.jumbotron {
	height: 130px !important;
  padding-top: 1px !important;
  margin-bottom: -55px !important;
}
.view {
    width: 100%;
    /*margin: auto;*/
    padding: 5px;
    display: inline-block;
    float: left;
}
#map-chart {
    height: 570px;
}

#scatter-plot {
    height: 730px;
}

#parallel-chart{
    height: 500px;
    word-wrap: break-word;
    white-space: normal;
    /*width: 960px;*/
}

#parallel-chart text{
    height: 500px;
    word-wrap: break-word;
    text-anchor:middle;
    font: 12px Serif;
    stroke: black;
}
.header-pc{
    height: 500px;
    word-wrap: break-word;
    text-anchor:middle;
    font: 12px Serif;
    stroke: black;
    transform: rotate(-9deg)
    /*overflow-wrap: break-word;*/
    /*width: 960px;*/
}

.headerdiv{
  width:100px;
  height:100px;
  word-wrap: break-word;
  position: relative;
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;


}

#map-chart svg {
    width: 100%;
    height: 70%;
    margin: auto;
}

#worldmap path {
    stroke: #000000;
    stroke-width: 0.1px;
}

#map-chart svg {
    margin: auto;
}
.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .2;
    pointer-events: none;
}
.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.legend_view {
display: inline-block;
    width: 80%;
    position: relative;
}
.axis--grid .domain {
  fill: #ddd;
  stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
  stroke: #fff;
}

.axis--grid .tick--minor line {
  stroke-opacity: .5;
}
.selected-country {
    stroke: #FF0000 !important;
    stroke-width: 1px !important;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: #DDD8D9;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.factors_container { 
    border:2px solid #ccc; 
    width:270px; 
    height: 400px; 
    overflow-y: scroll;
    text-align: left;
}

.world_map_tooltip_title {
    color: red;
    text-anchor:start;
}
.play_button {
    float : left;
    margin-left: 10px;
}
.activeYear-background{
    font-size: 50px;
    opacity: .4;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: #5c5c8a;
  stroke-width:1;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}
.global_title {
  font-size: 40px !important;
}
.nav_bar {
  padding: 0px !important;
}
.sub-title {
  opacity: 0.5;
  font-style: italic; 
}
#causesOfDeathBottomDiv div {float: left;}
#infoBox {
    width: 30%;
}
#lineChart {
    width: 35%;
}
#barChart {
    width: 35%;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 100px;          
    height: 50px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}
